@media(max-width: 1240px) {

  .header__content {
    row-gap: 55px;
  }

  .header__btn {
    order: 2;
  }

  .header__nav {
    position: relative;
    order: 3;
    width: 100%;
  }

  .header__nav::before {
    content: "";
    position: absolute;
    top: -22px;
    width: 100%;
    height: 1px;
    background-color: var(--light-color);
  }

  .header__nav::after {
    content: "";
    position: absolute;
    bottom: -22px;
    width: 100%;
    height: 1px;
    background-color: var(--light-color);
  }

  .nav__list {
    width: 100%;
    margin-right: 0;
    justify-content: space-between;
  }

  .broadcast__content {
    gap: 29px;
  }

  .playlists__content {
    flex-direction: column;
  }

  .playlists__card {
    display: flex;
    align-items: center;
    width: 300px;


  }

  .playlists__content-left {
    max-width: 100%;
  }

  .playlists__content-right {
    align-items: start;
    max-width: 100%;
    min-height: 538px;
  }

  .playlists__card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 112px;
    width: 100%;
    padding: 15px 8px;
    ;

  }

  .playlists__item {
    width: calc((100% / 3) - 20px);
  }

  .playlists__card {
    width: 100%;
  }

  .playlists__card-img {
    min-width: 112px;
  }




  .playlists__item--ru::after {
    left: 0;
  }

  .playlists__item--en::after {
    left: 0;
  }

  .about__img-spiral {
    display: none;
  }

  .about__content-top {
    justify-content: space-between;
  }

  .about__item {
    width: calc(50% - 15px);
  }

  .about__item-text {
    max-width: 100%;
  }

  .about__form {
    max-width: 100%;
  }

}

@media(max-width: 1024px) {

  .header {
    padding: 28px 0;
  }

  .header__content {
    row-gap: 50px;
  }

  .header__logo {
    width: 112px;
    height: 14px;
  }

  .header__nav::after {
    bottom: -19px;
  }

  .hero {
    padding-top: 79px;
    padding-bottom: 84px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__descr {
    max-width: 510px;
    margin-bottom: 20px;
  }

  .broadcast {
    padding-bottom: 93px;
  }

  .broadcast__list {
    justify-content: space-between;


  }

  .broadcast__content-right {
    position: relative;
    min-height: 854px;
  }

  .broadcast__card {
    max-width: 381px;
  }

  .broadcast__content-right::after {
    content: "";
    position: absolute;
    bottom: -60px;
    width: 100%;
    height: 1px;
    background-color: var(--light-color);
  }

  .broadcast__item {
    width: calc((100% / 2) - 15px);
  }


  .guests {
    padding-bottom: 94px;
  }

  .guests__subtitle-descr {
    max-width: 65%;
  }

  .guests__card-content {
    max-width: 360px;
    gap: 30px;
    justify-content: start;
  }

  .guests__list {
    gap: 50px;
  }

  .playlists {
    padding-bottom: 94px;
  }

  .playlists__content {
    gap: 29px;
  }

  .playlists__content-left {
    max-width: 100%;
  }

  .playlists__list {
    gap: 30px;
  }

  .playlists__item {
    width: calc((100% / 3) - 20px);
  }





  .products__content-right {
    max-width: 397px;
  }

  .products__svg {
    margin-bottom: 17px;
  }

  .products__content-img::after {
    width: 100px;
    height: 100px;
  }

  .products {
    padding-bottom: 92px;
  }

  .about {
    padding-bottom: 92px;
  }

  .about__content-text {
    max-width: 535px;
  }

  .about__content-top {
    margin-bottom: 29px;
  }

  .about__center {
    margin-bottom: 31px;
  }

  .about__form-wrapper {
    gap: 32px;
  }

  .footer__decor-svg {
    margin-bottom: 10px;
  }

}

@media(max-width: 992px) {
  .nav__list {
    gap: 30px;
  }

  .podcasts__item {
    width: 100%;
  }



  .guests__subtitle-descr {
    max-width: 100%;
  }

  .broadcast__title {
    display: none;

  }

  .broadcast__title-top {
    display: block;
    margin-bottom: 60px;

  }

  .broadcast__content {
    flex-direction: column;
    gap: 90px;
  }



  .broadcast__content-left {
    max-width: 100%;
    order: 3;
    align-items: center;
  }

  .broadcast__link-content {
    background-position: left 18px;
    padding-top: 11px;
    padding-left: 89px;
    width: 340px;
  }

  .guests__item-card {
    flex-direction: column;
  }

  .guests__card-content {
    max-width: 100%;
    gap: 30px;
  }

  .playlists__item {
    width: calc((100% / 2) - 15px);
  }

  .products__content {
    gap: 15px;
  }

  .products__content-left {
    min-width: 265px;
  }

  .products__title {
    font-size: 32px;
  }

  .products__descr {
    font-size: 14px;
  }

  .footer__content {
    row-gap: 30px;
  }

}

@media(max-width: 768px) {
  .container {
    padding: 0 114px;

  }

  .nav__link {
    font-size: 16px;
  }

  .nav__list {
    gap: 0;
    justify-content: space-between;
  }

  .hero {
    padding-top: 84px;
    padding-bottom: 87px;
  }

  .hero__img-content {
    display: none;
  }

  .broadcast {
    padding-bottom: 30px;
  }

  .broadcast__title-top {
    margin-bottom: 106px;
  }

  .broadcast__list {
    gap: 29px;
  }

  .broadcast__text-content {
    padding: 19px 15px;
  }

  .broadcast__content {
    gap: 80px;
  }

  .broadcast__content-left {
    max-width: 100%;
    align-items: center;
  }

  .broadcast__link-content {
    background-position: left 18px;
    padding-top: 11px;
    padding-left: 89px;
    width: 340px;
  }

  .broadcast__link {
    margin-bottom: 7px;
  }

  .guests {
    padding-bottom: 93px;
  }

  .guests__item-card {
    flex-direction: column;
    gap: 30px;
  }

  .guests__list {
    gap: 52px;
  }

  .guests__card-content {
    gap: 31px;
    max-width: 365px;
  }

  .playlists {
    padding-bottom: 112px;
  }

  .products {
    padding-top: 54px;
  }

  .products__content {
    flex-direction: column;
    gap: 46px;
  }

  .products__content-right {
    max-width: 100%;
  }

  .products__content-img::after {
    width: 160px;
    height: 160px;
  }

  .products__title {
    font-size: 48px;
  }

  .products__descr {
    font-size: 16px;
  }

  .products__svg {
    margin-bottom: 14px;
  }

  .about__img-content {
    display: none;

  }

  .about {
    position: relative;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 476px;
    left: 0;
    width: 639px;
    height: 115px;
    background-image: url(../Img/about-svg-1-768px.png);
    background-repeat: no-repeat;

  }

  .about::after {
    content: "";
    position: absolute;
    top: 476px;
    left: 542px;
    width: 112px;
    height: 112px;
    background-image: url(../Img/about-svg-2-768px.png);
    background-repeat: no-repeat;

  }

  .about__content-top {
    margin-bottom: 171px;
  }

  .about__form-center {
    flex-direction: column;
  }

  .about__form-input {
    width: 100%;
  }

  .footer__content {
    justify-content: center;
  }

  .footer__left {
    margin-right: 0;
  }

  .footer__social-list {
    justify-content: center;
  }

  .footer__social-svg {
    width: 31px;
    height: 31px;
  }

  .footer__content {
    row-gap: 77px;
  }

  .footer__right {
    width: 100%;
  }

  .footer__nav-list {
    max-width: 100%;
    justify-content: space-between;
    column-gap: 155px;
    row-gap: 27px;
    max-height: 150px;

  }

  .footer__decor-svg {
    padding-top: 79px;
  }
}

@media(max-width: 700px) {
  .container {
    padding: 0 32px;
  }

  .header__content {
    width: 100%;
  }

  .header__nav {
    max-width: 100%;
  }

  .nav__list {
    gap: 24px;
    justify-content: space-between;
    width: 100%;
  }

  .about::before {
    display: none;
  }

  .about::after {
    display: none;
  }

  .footer__nav-list {
    max-height: 200px;
  }

  .guests__card-content {
    max-width: 100%;
  }

  .footer__nav-list {
    max-height: 150px;
    justify-content: center;
    column-gap: 100px;
  }

  .about__content-top {
    margin-bottom: 34px;
  }


}

@media(max-width: 576px) {
  .header {
    padding: 16px 0;
  }

  .header__logo {
    width: 88px;
  }

  .header__content {
    row-gap: 30px;
  }

  .header__nav::before {
    top: -15px;
  }

  .header__nav::after {
    bottom: -17px;
  }

  .nav__link::after {
    display: none;
  }

  .nav__list {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
  }

  .hero {
    padding-top: 42px;
    padding-bottom: 39px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 7px;
  }

  .hero__descr {
    font-size: 14px;
    line-height: 150%;
  }

  .hero__link {
    border-radius: 40px;
    padding: 16px 36px;
    width: 200px;
    font-size: 16px;
  }

  .podcasts {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .podcasts__title-section {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 19px;
  }

  .podcasts__card {
    flex-direction: column;
    gap: 30px;
  }

  .podcasts__data {
    top: 0;
    left: 0;
    bottom: initial;
  }

  .podcasts__title {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .podcasts__name {
    font-size: 12px;
  }

  .podcasts__text-content {
    padding-left: 15px;
    justify-content: start;
    min-height: 83px;
  }


  .playlists__card {
    flex-direction: column;
  }

  .broadcast {
    position: relative;
    padding-top: 54px;
    padding-bottom: 49px;

  }

  .broadcast__title-top {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 29px;
  }

  .broadcast__content {
    gap: 60px;
  }

  .broadcast__content-right::after {
    bottom: -30px;
  }

  .broadcast__content-right {
    min-height: 492px;
  }

  .broadcast__text-content {
    padding: 9px 9px;
    min-height: 100px;

  }

  .broadcast__card-title {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 5px;
  }

  .broadcast__card-time {
    font-size: 9px;
  }

  .broadcast__card-link {
    font-size: 12px;
    color: var(--primary);
  }

  .broadcast__link-descr {
    font-size: 14px;
    line-height: 150%;
  }







  .broadcast__link-content {
    display: flex;
    flex-direction: column-reverse;
    max-width: 250px;
    padding-left: 0;
    padding-top: 0;
    padding-left: 80px;
    gap: 8px;
    background-position: left 5px;
  }

  .broadcast__link {
    max-width: 110px;
    padding: 5px 20px;
  }

  .guests {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .guests__title {
    font-size: 24px;
    line-height: 100%;
  }

  .guests__subtitle {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 0;
  }

  .guests__subtitle-descr {
    font-size: 14px;
    line-height: 160%;
    max-width: 100%;
  }

  .guests__top {
    margin-bottom: 27px;
  }

  .guests__item-card {
    gap: 10px;
  }

  .guests__list {
    gap: 30px;
  }

  .guests__card-link {
    padding: 6px 9px;
    max-width: 150px;
  }

  .playlists {
    padding-top: 55px;
    padding-bottom: 52px;
  }

  .playlists__title {
    font-size: 24px;
    line-height: 100%
  }

  .playlists__title-descr {
    font-size: 12px;
    line-height: 133%
  }

  .playlists__descr-copy {
    font-size: 12px;
    line-height: 183%;
  }

  .playlists__list {
    row-gap: 28px;
  }
  .playlists__item--ru::after {
    right: 0;
    top: 0;
    left: initial;
  }
  .playlists__item--en::after {
    right: 0;
    top: 0;
    left: initial;
  }
  .playlists__card-text {
    justify-content: start;
    padding: 10px 10px;
    min-height: 48px;
  }

  .playlists__card-title {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .playlists__card-descr {
    font-size: 9px;
  }

  .playlists__card-img {
    min-width: 113px;
    width: 100%;
  }

  .playlists__picture {
    width: 100%;
    

  }

  .products {
    padding-bottom: 54px;
  }

  .products__content {
    gap: 25px;
  }

  .products__title {
    font-size: 24px;
    line-height: 100%
  }

  .products__content-img::after {
    width: 62px;
    height: 62px;
  }

  .products__svg {
    margin-bottom: 12px;
  }

  .products__descr {
    font-size: 14px;
    line-height: 159%;
  }

  .products__descr-content {
    gap: 10px;
    margin-bottom: 10px;
  }

  .products__link {
    font-size: 16px;
    line-height: 100%;
    max-width: 256px;
    padding: 13px 13px;
  }

  .products__price {
    font-size: 24px;
    margin-bottom: 15px;

  }

  .about {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .about__title {
    font-size: 24px;
    line-height: 100%;
  }

  .about__subtitle {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 0;
  }

  .about__descr {
    font-size: 14px;
    line-height: 157%;
  }

  .about__content-top {
    margin-bottom: 33px;
  }

  .about__item-title {
    font-size: 14px;
    line-height: 129%;
    max-width: 100px;
  }

  .about__item-descr {
    font-size: 12px;
    line-height: 133%;

  }

  .about__item-img {
    margin-bottom: 9px;
  }

  .about__center {
    row-gap: 28px;
    margin-bottom: 28px;
  }

  .about__form-textarea {
    margin-bottom: 24px;
    border-radius: 20px;
    padding: 15px 10px 10px 23px;
  }

  .about__form-textarea::placeholder {
    font-size: 16px;
  }

  .about__form-input {
    min-height: 50px;
    padding: 10px 10px 10px 23px;
  }

  .about__form-input::placeholder {
    font-size: 16px;
  }

  .about__form-btn {
    max-width: 172px;
    font-size: 16px;
    padding: 16px 40px;
  }

  .about__form-wrapper {
    gap: 24px;
  }

  .about__checkbox-text {
    font-size: 9px
  }

  .footer {
    padding-top: 54px;
  }

  .footer__nav-list {
    max-height: 210px;
  }

  .footer__nav-link {
    font-size: 12px
  }

  .footer__nav-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 29px;
    grid-row-gap: 18px;
   
    
  }

  .footer__copy {
    font-size: 12px;
    line-height: 103%;
  }
  .footer__decor-svg {
    padding-top: 38px;
  }
 

}





